{#- Attend : s (service), featured (bool), index (int) -#}
<a class="card-service reveal {{ 'card-service--featured' if featured }}" href="{{ ('/services/' + s.slug + '/') | url }}" data-area="{{ s.slug }}" style="--i:{{ index or 0 }}">
  {%- if featured %}
  <div class="card-service__bg" aria-hidden="true"><div class="ph trame"></div></div>
  <span class="card-service__note">{{ s.featuredNote }}</span>
  {%- endif %}
  <svg class="icon" aria-hidden="true"><use href="#i-{{ s.icon }}"/></svg>
  <h3>{{ s.name }}</h3>
  <p>{{ s.short }}</p>
  <span class="card-service__more">Découvrir <svg class="icon" aria-hidden="true"><use href="#i-arrow"/></svg></span>
</a>
