<div class="mobile-bar" id="mobile-bar">
  <a class="btn btn--primary" href="{{ site.phoneHref }}" data-track="call" data-track-where="mobile-bar">
    <svg class="icon" aria-hidden="true"><use href="#i-phone"/></svg>
    Appeler
  </a>
  <a class="btn btn--secondary" href="{{ '/contact/' | url }}#devis">
    <svg class="icon" aria-hidden="true"><use href="#i-devis"/></svg>
    Devis
  </a>
</div>
